body
{
    margin: 0 !important;
}

#container
{
    width: 100%;
    height: 100%;
    margin-top: 0;
    color: white;
    font-family: Anonymous;
    background-image: url(s.jpg);
    background-size:100%;
}


@font-face {
    font-family: Anonymous;
    src: url(font/AnonymousPro-Regular.ttf);
}


#menu
{
    text-align: right;
    word-spacing: 2cm;
    font-size: 21px;
    padding: 15px;
    height: 30px;
    padding-right: 70px;
    padding-top: 60px;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: rgb(112, 124, 126);
}

.tytul
{
    text-align: center;
    font-size: 60px;
    height: 90px;
}


#lewy
{
    float: left;
    width: 610px;
    height: 415px;
}

#prawy
{
    float: left;
}

#footer2
{
    clear: both;
}

input[type=button]
{
    text-align: center;
    background-color: rgb(59, 94, 31);
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: Anonymous;
    border-style: none;
}

input[type=button]:hover
{
    color: rgb(28, 112, 134)
    
}

input[type=number]
{
    background-color: rgb(40, 40, 40);
    width: 250px;
    height: 40px;
    padding-left: 15px;
    font-size: 16px;
    color: rgb(108, 108, 108);
    border-style: none;
}

.guz
{
    text-align: center;
}

#lew
{
    width: 600px;
    float: left;
    height: 300px;
}

#box
{
    margin-top: 55px;
    float: left;
    text-align: center;
    padding-top: 110px;
    height: 150px;
    width: 250px;
    border: 1px solid rgb(255, 255, 255);
}

#wynik
{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

#footer
{
    height: 45px;
    clear: both;
}

